<div class="blue-bg">
    <div class="container">
        <div class="row">
            <nav class="navbar col-md-12">
                <div class="navbar__socials">{% include 'partials/social-links.html' %}</div>
                <div class="navbar__page-links">
                    <a href="" class="link-item small-text">News</a>
                    <a href="" class="link-item small-text">Events</a>
                    <!-- <a href="" class="link-item small-text">Fixtures</a> -->
                    <a href="" class="link-item small-text">Sponsors</a>
                    <a href="" class="link-item small-text">Honour Boards</a>
                    <a href="" class="link-item small-text">Contact</a>
                    <a href="" class="link-item small-text">Store</a>
                </div>
            </nav>
        </div>
    </div>
</div>
