<footer class="footer blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 footer__social">
                {% include 'partials/social-links.html' %}
            </div>
            <div class="col-md-3 footer__logo">
               <a href="/">
                    <img src="images/base/warrior.png" alt="">
                </a>
            </div>
            <div class="col-md-6 footer__docs-list">
                <a href="" class="list"></a>
            </div>
            <div class="col-md-3 footer__general-links">
                <ul>
                    <li>
                        <a href="#top">Back To Top</a>
                    </li>
                    <li>
                        <a href="http://whitfordafc.com.au/privacy-policy">privacy policy</a>
                    </li>
                    <li>
                        <a href="http://whitfordafc.com.au/terms-conditions">terms and conditions</a>
                    </li>
                    <li>
                        <a href="">sitemap</a>
                    </li>
                    <li>site by <a href="https://jpittard.net" target="_blank">this guy</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>
<script src="./scripts/app-bundle.js"></script>
</html>
