<section class="home-sponsors white-bg" id="sponsors">
    <div class="container">
        <div class="row">
            <div class="side-text small-text">
                <a href="#map" class="next">
                    {% include 'svg/arrow-left.svg' %}
                </a>
                Sponsors
                <a href="#events" class="prev">
                    {% include 'svg/arrow-right.svg' %}
                </a>
            </div>
            <h2 class="large home-sponsors__title col-md-4">Our<br />Frie<br />nds</h2>
            <div class="col-md-8 home-sponsors__logos">
                <a href="#" class="home-sponsors__logo"><img src="images/base/fiverr.png" alt=""/></a>
                <a href="#" class="home-sponsors__logo"><img src="images/base/fiverr.png" alt=""/></a>
                <a href="#" class="home-sponsors__logo"><img src="images/base/fiverr.png" alt=""/></a>
                <a href="#" class="home-sponsors__logo"><img src="images/base/fiverr.png" alt=""/></a>
                <a href="#" class="home-sponsors__logo"><img src="images/base/fiverr.png" alt=""/></a>
                <a href="#" class="home-sponsors__logo"><img src="images/base/fiverr.png" alt=""/></a>
            </div>
        </div>
    </div>
</section>
