<section class="home-events blue-bg" id="events">
    <div class="container">
        <div class="row">
            <div class="side-text small-text">
                <a href="#sponsors" class="next">
                    {% include 'svg/arrow-left.svg' %}
                </a>
                events
                <a href="#about" class="prev">
                    {% include 'svg/arrow-right.svg' %}
                </a>
            </div>
            <div class="col-md-6 home-events__image-slide">
                <img src="images/base/Frame.jpg" alt="" class="slide-img" loading="lazy" />
            </div>
            <div class="col-md-6 home-events__text-slide">
                <h2 class="title large">If you are a warrior, sing along</h2>
                <p class="blurb">with me, we are the blues on the road to victory. All for one and one for all we'll answer to the call. We're the greatest team of all {% include 'svg/arrow.svg' %}</p>
            </div>
        </div>
    </div>
</section>
