<section class="home-news blue-bg" id="news">
    <div class="container" id="top">
        <div class="row">
            <div class="side-text small-text">
                <a href="#about" class="next">
                    {% include 'svg/arrow-left.svg' %}
                </a>
                News
                <a href="#top" class="prev">
                    {% include 'svg/arrow-right.svg' %}
                </a>
            </div>

            <div class="col-md-12 home-news__top">
                <a href="#top" class="small-text">
                    Whitford Amatuer <br />
                    Football Club
                </a>
                <a href="#top">
                    <img src="images/base/warrior.png" alt="Whitford Amatuer Football Club" class="small-logo" loading="lazy" />
                </a>

                <p class="small-text">
                    established 1976.
                </p>
            </div>
            <div class="col-md-6 home-news__text-slide">
                <h2 class="title large">If you are a warrior, sing along</h2>
                <p class="blurb">with me, we are the blues on the road to victory. All for one and one for all we'll answer to the call. We're the greatest team of all {% include 'svg/arrow.svg' %}</p>
            </div>
            <div class="col-md-6 home-news__image-slide">
                <img src="images/base/Frame.jpg" alt="" class="slide-img" loading="lazy" />
            </div>
        </div>
    </div>
</section>
