<section class="home-about white-bg" id="about">
    <div class="container">
        <div class="row">
            <div class="side-text small-text">
                <a href="#events" class="next">
                    {% include 'svg/arrow-left.svg' %}
                </a>
                About
                <a href="#news" class="prev">
                    {% include 'svg/arrow-right.svg' %}
                </a>
            </div>
        <div class="col-md-8">

            <h2 class="large home-about__title">About</h2>
            <div class="home-about__image-wrap">
                <img src="images/home/team.jpg" alt="Team Huddle" loading="lazy">
            </div>
        </div>

            <div class="col-md-4 home-about__text">
                <h3>All for one and one for All</h3>
                <p>
                        We are an Amatuer Football and Netball Club based in Padbury, Western Australia.
                        Our Football Club was founded in 1976 and has enjoyed success across multiple grades.
                        The Netball Club was founded in 2013 and has also enjoyed success across the grades within the short timespan.
                </p>
            </div>
        </div>
</section>
